.textform {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f4;
  height: 18%;
}
.textinput {
  width: 100%;
  height: 3rem;
  border-radius: 50px;
  border: 1px solid #f2f3f4;
  padding: 0 60px 0 30px;
  overflow: hidden;
}
.send {
  position: absolute;
  height: 20px;
  right: 25px;
  top: 13px;
  cursor: pointer;
  opacity: 0.7;
}
.form-area {
  position: relative;
  width: 80%;
}
